
.vscode/dryrun.log
.vscode/configurationCache.log
.vscode/targets.log
**/*.exe
.vs
x64
main.exe
build/
documentation/latex/*
!documentation/latex/refman.pdf
documentation/html/*
/tooling/conwayimport
**/*.pbf
**/*.cg
